.root {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    box-shadow: var(--mantine-shadow-sm);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}
  
.indicator {
    background-image: linear-gradient(
        to right,
        var(--mantine-color-lime-filled),
        var(--mantine-color-teal-filled)
    );
}

.control {
    &::before {
        display: none;
    }
}

.label {
    &,
    &:hover {
        &[data-active] {
        color: var(--mantine-color-white);
        }
    }
}
