.root {
    @mixin light {
      --cpi-line-color: var(--mantine-color-red-6);
      --fpi-line-color: var(--mantine-color-blue-6);
      --expenses-line-color: var(--mantine-color-yellow-6);
    }
  
    @mixin dark {
      --cpi-line-color: var(--mantine-color-red-4);
      --fpi-line-color: var(--mantine-color-blue-2);
      --expenses-line-color: var(--mantine-color-yellow-3);
    }
}

.graphTitle {
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-green-filled);
      width: rem(45px);
      height: rem(2px);
      margin-top: var(--mantine-spacing-sm);
    }
}

